@font-face {
    font-family: 'Abyss';
    src: url('../fonts/Fagostudio-Abysstypeface/Abyss.otf');
}

/**
    Pop up animation for fruit emojis
**/
@keyframes emoji-popup {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.0);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes bob-animation {
    0% {
        top: 0px;
    }

    50% {
        top: -5px;
    }

    100% {
        top: 0px;
    }
}


@keyframes end-bob-animation {
    from {
        
    }
    to {
        top: 0px;
    }
}

/**
Pink Green Palette

green   rose pink  pink   eggplant   cerise   Whiteish
#9ebc9e, #ffcfd2, #ffafc5, #553e4e, #e0479e  whitesmoke

**/

/**
Orange Blue Palette

 Licorice  blue    yellow   pumpkin   dark purple
#171219, #225560, #edf060, #f0803c, #310d20
**/


/**
    Orange Dark Palette

#454545 Dark Gret
#FF6000 Orange Heavy
#FFA559 Light Orange
#FFE6C7 Very Light Orange
**/
:root {
    --primary-color: rgb(255, 175, 197);
    --primary-color-rgb: 255, 175, 197;

    --primary-light-color: rgb(255, 207, 210);
    --primary-light-color-rgb: 255, 207, 210;

    --primary-dark-color: rgb(85, 62, 78);
    --primary-dark-color-rgb: 85, 62, 78;


    --primary-accent-color: rgb(224, 71, 158);
    --primary-accent-color-rgb: 224, 71, 158;

    --secondary-color: rgb(158, 188, 158);
    --secondary-color-rgb: 158, 188, 158;
    
    --cursor-width: 5px;
    --cursor-color: var(--primary-accent-color);
    
    --text-color: whitesmoke;
    --text-color-rgb: 245, 245, 245;

    --font-header: 'Outfit';
    --font-text: 'Outfit';
}


@keyframes cursor-blink {
    0% {
        border-right-color: transparent;
    }

    20% {
        border-right-color: var(--cursor-color);
    }

    80% {
        border-right-color: var(--cursor-color);
    }

    100% {
        border-right-color: transparent;
    }
}


/* Set the scroll behavior to smooth so that when you click the in the header, the screen scrolls down rather than jumps */
html {
    scroll-behavior: smooth;
}
  
/* Set the margin to 0 to make sure the page stretches all the way to the edge of the browser window. */
body {
    margin: 0;

    background-color: var(--primary-dark-color);
}

header, footer {
    background-color: var(--primary-color);
    text-align: left;
}

header {
    font-family: Work Sans;
    color: #fff;
    display: flex;

    background: linear-gradient(0deg, 
    var(--primary-accent-color) 0% 10%, 
    var(--primary-color) 10% 20%, 
    var(--primary-light-color) 20% 100%
    );

    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.396));

    height: 90vh;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr) ) ;
    grid-gap: 20px;
    margin-top: 10vh;
    padding-top: 0;
    padding: 20px;
  
    justify-items: center;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}

h1 {
    font-family: 'Abyss';
    font-size: calc(1em + 10vw);
    padding-bottom: calc((1em + 3vw) * 0.67);
    line-height: 1.3;
}

.banner-line {
    font-family: 'Abyss';
    font-size: min(calc(1em + 10vh), calc(1em + 10vw));

    min-height: min(calc(1em + 10vh), calc(1em + 10vw));

    margin-top: auto;
    margin-bottom: 20vh;
    margin-left: 0;
    margin-right: 0;
    
    position: relative;
    z-index: 3;
    max-height: 100px;
    padding: 0;
}

.banner-letter {
    font-family: inherit;
    font-size: 1em;

    color: var(--primary-accent-color);
    filter: drop-shadow(0px 5px 0px rgba(var(--primary-color-rgb), 0.99));
}

h2 {
  font-family: 'Abyss';
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: left;
  color: var(--primary-color);
  padding: 10px 0px 10px 10px;
}

img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  display: block;
}

.wrapper {
    max-width: 1150px;
    margin: auto;
    padding: 10vh;
    display: block;

    margin-bottom: 0;
}

.bio {
  border-top: 1px solid;
  padding-top: 50px;
  color: var(--text-color);
  font-size: 24px;
  font-family: 'Work Sans';

  position: relative;
  z-index: 3;
  margin-top: 50px;
  margin-bottom: 10vh;
  filter: drop-shadow(0px 2px 2px rgba(var(--primary-accent-color-rgb), 0.99));
}

/*
.buttonBox {
    display: flex;
    justify-content: center;
    align-content: center;
}
*/

.buttonBox {
    display: flex;
    justify-content: center;
    align-content: center;

    position: absolute;
    z-index: 3;
    top: 90%;
    left: 50%;
}

.emoji-popup {
    font-size: 80px;
    animation: emoji-popup 0.5s linear 0s 1;
    animation-fill-mode: forwards;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.285));

    z-index: 2;
}

/*
.myButton {
    border-radius: 28px;
    border: 1px solid var(--text-color);
    cursor: pointer;
    color: var(--text-color);
    font-size: 20px;
    padding: 16px 31px;
    text-decoration: none;
    margin: 1.69em auto;
}*/

.myButton {
    border-radius: 10px;
    border: 10px solid var(--text-color);
    border-top: none;
    border-left: none;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    width: 2em;
    transform: rotate(45deg);
}

/*
.myButton:hover {
    background-color:#e69708;
}
*/

.myButton:hover {
}

.myButton:active {
    position:relative;
    top:1px;
}

.recipe {
  /*box-shadow: inset 0 1px 5px 1px rgba(0, 0, 0, 0.5);*/
  width: 100%;
  background-color: rgba(var(--primary-light-color-rgb), 0.2);
}

.recipe img {
    transition-property: transform;
    transition-duration: 0.75s;
    filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.285));
}

.recipe:hover .zoom-hover img {
    transform: scale(1.2);
}

.recipe h2 {
    font-family: var(--font-header);
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin: 0;
    padding-left: 15%;
    background: linear-gradient(-45deg, 
    var(--primary-light-color) 0% 5%,
    var(--primary-accent-color) 5% 10%,
    var(--primary-dark-color) 10% 100%  
    );

    text-shadow: 0px 2px rgba(var(--primary-accent-color-rgb), 0.99);
    border: 5px solid var(--primary-accent-color);
    border-left: none;
    border-right: none;
    border-top: none;

    position: relative;
    z-index: 5;
    box-shadow: 0px -5px 8px 0px rgba(0, 0, 0, 0.6);
}

.a {

}

.c {

}

.time {
  padding-left: 10px;
  padding-top: 10px;
  width: 20px;
  height: auto;
}

.mins {
  display: inline-block;
  font-family: 'Abyss';
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: left;
  color: var(--text-color);
  position: relative;
  bottom: 5px;
}

.description {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.1px;
  text-align: left;
  color: var(--text-color);
  padding: 10px 0px 10px 10px;
  border-top: 1px solid var(--text-color);
}

.link {
    color: var(--primary-light-color);
    text-shadow: 0px 2px 0px rgba(var(--primary-accent-color-rgb), 0.99);
    text-decoration: none;
    font-weight: bold;
}

.link-letter {
    position: relative;
    white-space: pre;
}

.hover-wave {
    animation-name: bob-animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.logo {
  width: 115px;
  height: 21.1px;
  object-fit: contain;
  padding: 20px;
}

.container {
  /*min-width: 500px;*/
  margin: auto;
}

footer {
  margin-top: 44px;
}


.zoom-hover {
    overflow: hidden;
}

@media all and (max-width:700px) {
    main {
      grid-template-columns: 1fr;
    }
  }

.banner-line {
    width: fit-content;
}

.banner-letter {
    box-sizing: border-box;
    display: inline-block;
    white-space: pre;
}

/*
    Cursor class
*/
.cursor {
    border-color: var(--cursor-color);
    border-width: 0px;
    border-right-width: var(--cursor-width);
    border-style: solid;
}

/*
    Blinking Cursor
*/
.cursor-blink {
    animation: cursor-blink 2s linear 0s infinite normal none;
}